# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# Cache
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# Project data
activity.db
uploads/*
!uploads/.gitkeep
